.navbar{
	background: #009688;
}

.nav-brand, .nav-link{
	color: #f4f4f4;
}
.nav-brand{
	font-size: 2em;
}
.nav-brand:hover{
	text-decoration:none;
	color: #fff;
}

.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	color: #fff;
}

.navbar-collapse{
	justify-content: flex-end;
}
.navbar-toggler{
	background: #f4f4f4 !important;
}

.header{
	background-image: url('../images/bg.webp');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.79);
}

.logo{
	position: relative;
	top: 20%;
}
.logo img{
	width: 80%;
}
.logo h2{
	color: #eee;
	margin-top: 1em;
}
.logo h3{
	color: #eee;
}

.description{
	position: absolute;
	top: 30%;
	left: 5%;
	margin: auto;
	padding: 2em;
}
.description h1{
	color: #009688;
}
.description p{
	color: #666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border: 1px solid #009688;
	background: #009688;
	color: #fff;
}

.apps{
	position: relative;
	padding-top: 0.5em;
}
.apps h1{
	color: #009688;
	margin: 2em;
}
.apps .app-title{
	margin-top: 15%;
}
.apps .app-desc{
	margin-top: 0.5em;
}
.apps .app-download img{
	width: 15em;
}
.apps img{
	width: 60%;
}

.about{
	position: relative;
	padding-top: 0.5em;
}
.about h1{
	color: #009688;
	margin: 2em;
}
.about img{
	width: 80%;
	border-radius: 50%;
}
.about span{
	color: #888;
	display: block;
	position: relative;
	text-align: center;
	margin-top: 0.5em;
	font-size: 1em;

}
.about .desc{
	padding: 2em;
	border-left: 4px solid #009688;
}
.about .desc h3{
	color: #009688;
}
.about .desc p{
	line-height: 2;
	color: #888;
	font-size: 20px;
}

.footer{
	padding: 1em;
	margin-top: 2em;
	background-color: #eee
}
.footer a{
	margin-left: 15px;
}
.footer img{
	height: 30px;
	width: 30px;
}
.footer .footertxt{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}